html, body {
    width: 100%;
    height: 100%;
}

app {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

app .ui.top.fixed.menu {
    height: 47px;
}

app .ui.menu button.item {
    border: 0;
}

app > .main {
    display: flex;
    flex-direction: column;

    flex: 1;

    margin-top: 47px;
}

app > .main > .ui.grid {
    flex: 1;
}