{{#if @index}}
<hr>
{{/if}}

{{debug this.description.name}}
<div id="{{#if this.parent.description.name}}{{this.parent.description.name}}{{else}}{{this.parent.result.description.name}}{{/if}}.{{this.description.name}}()" class="method-summary">
	<div class="row heading">
		<div class="small-12 medium-12 large-12 columns">
			<h4><i>{{this.description.name}}</i></h4>

			<p class="subheader">
				{{#if this.description.description}}
					{{{this.description.description}}}
					<br>
				{{/if}}
				<span class="label ">{{this.description.access}}</span> <span class="label ">{{this.description.specType}}</span>
			</p>
		</div>
	</div>
	<div class="row signature">
		<div class="small-12 medium-12 large-12 columns">
			<h4>Signatures</h4>

			<div style="padding-left: 4%">
				{{#if this.signatures}}
				{{#each this.signatures}}
				{{#if @index}}
				<hr>
				{{/if}}
				<div class="panel code-signature">
					<span class="access">
						{{#if this.description.access.type}}
						{{this.description.access}}
						{{/if}}
					</span>
					<span class="type">
						{{#if this.description.returns.type}}
						{{this.description.returns.type}}
						{{else}}
						void
						{{/if}}
					</span>
					<span>{{this.description.name}}</span>
					{{#if this.description.arguments}}
					(
					{{#each this.description.arguments}}
					{{#if this.optional}}
					{{else}}
					<span class="param-type">{{this.type}}</span>
					<span>{{this.name}}</span>
					{{/if}}
					{{#if @last}} {{else}},{{/if}}
					{{/each}}
					)
					{{else}}
					()
					{{/if}}{ ... }
				</div>
				{{#if this.description.description}}
					<br>
					<p class="subheader">{{{this.description.description}}}</p>
				{{/if}}
				<br>
				<div class="row">
					<div class="small-12 medium-12 large-6 columns arguments">
						<h4><i class="fi-upload"></i> Parameters</h4>
						{{#if this.description.arguments}}
						<table>
							<thead>
								<tr>
									<th>Parameter</th>
									<th width="200">Type</th>
								</tr>
							</thead>
							<tbody>
								{{#each this.description.arguments}}
								<tr>
									<td>{{this.name}}</td>
									<td>
										<p class="type">
											<span><strong><i>{{{this.type}}}</i></strong></span>
											{{#if this.optional}}
											<span>(optional)</span>
											{{/if}}
											{{#if this.default}}
											<span>Default: {{this.default}}</span>
											{{/if}}
										</p>
										{{#if this.description}}
										<p class="description">{{this.description}}</p>
										{{/if}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{else}}
						<div class="panel callout radius">
							<h5>None.</h5>
						</div>
						{{/if}}
					</div>
					<div class="small-12 medium-12 large-6 columns returns">
						<h4><i class="fi-download"></i> Returns</h4>
						{{#if this.description.returns}}
						<table>
							<thead>
								<tr>
									<th width="200">Return Type</th>
								</tr>
							</thead>
							<tbody>
								{{#each this.description.returns}}
								<tr>
									<td class="text-center">
										{{this}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{else}}
						<div class="panel callout radius">
							<h5>Nothing.</h5>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
				{{else}}
				<div class="panel code-signature">
					<span class="access">
						{{#if this.description.access.type}}
						{{this.description.access}}
						{{/if}}
					</span>
					<span class="type">
						{{#if this.description.returns.type}}
						{{this.description.returns.type}}
						{{else}}
						void
						{{/if}}
					</span>
					<span>{{this.description.name}}</span>
					{{#if this.description.arguments}}
					(
					{{#each this.description.arguments}}
					{{#if this.optional}}
					{{else}}
					<span class="param-type">{{this.type}}</span>
					<span>{{this.name}}</span>
					{{/if}}
					{{#if @last}} {{else}},{{/if}}
					{{/each}}
					)
					{{else}}
					()
					{{/if}}{ ... }
				</div>
				<br>

				<div class="row">
					<div class="small-12 medium-12 large-6 columns arguments">
						<h4><i class="fi-upload"></i> Parameters</h4>
						{{#if this.description.arguments}}
						<table>
							<thead>
								<tr>
									<th>Parameter</th>
									<th width="200">Type</th>
								</tr>
							</thead>
							<tbody>
								{{#each this.description.arguments}}
								<tr>
									<td>{{this.name}}</td>
									<td>
										<p class="type">
											<span><strong><i>{{{this.type}}}</i></strong></span>
											{{#if this.optional}}
											<span>(optional)</span>
											{{/if}}
											{{#if this.default}}
											<span>Default: {{this.default}}</span>
											{{/if}}
										</p>
										{{#if this.description}}
										<p class="description">{{this.description}}</p>
										{{/if}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{else}}
						<div class="panel callout radius">
							<h5>None.</h5>
						</div>
						{{/if}}
					</div>
					<div class="small-12 medium-12 large-6 columns returns">
						<h4><i class="fi-download"></i> Returns</h4>
						{{#if this.description.returns}}
						<table>
							<thead>
								<tr>
									<th width="200">Return Type</th>
								</tr>
							</thead>
							<tbody>
								{{#each this.description.returns}}
								<tr>
									<td class="text-center">
										{{this}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{else}}
						<div class="panel callout radius">
							<h5>Nothing.</h5>
						</div>
						{{/if}}
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>

</div>