<div id="{{module_name}}" class="module">
	<div class="row-full heading">
		<div class="small-12 columns">
			<h3>{{module_name}} <span class="label ">module</span></h3>
			<p>{{{module_description}}}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="small-12 medium-12 large-6 columns classes-list">
			<h4>Classes</h4>
			{{#if module_classes}}
			<ul>
				{{#each module_classes}}
				<li>
					<a href="#{{this.description.name}}" card="#{{this.description.name}}">
						<span class="left">
							<i class="fi-{{getSpecStatusColor this.status}}"></i>
						</span>
						&nbsp;<span><i class="fi-page"></i></span>
						&nbsp;{{this.description.name}}
					</a>
				</li>
				{{/each }}
			</ul>
			{{else}}
			<div class="panel callout radius">
				<p>This module has no classes.</p>
			</div>
			{{/if}}
		</div>
		<div class="small-12 medium-12 large-6 columns interfaces-list">
			<h4>Interfaces</h4>
			{{#if module_interfaces}}
			<ul>
				{{#each module_interfaces}}
				<li>
					<a href="#{{this.description.name}}" card="#{{this.description.name}}">
						<span class="left">
							<i class="fi-{{getSpecStatusColor this.status}}"></i>
						</span>
						&nbsp;&nbsp;{{this.description.name}}
					</a>
				</li>
				{{/each }}
			</ul>
			{{else}}
			<div class="panel callout radius">
				<p>This module has no interfaces.</p>
			</div>
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-12 large-6 columns methods-list">
			<h4>Methods</h4>
			{{#if module_methods}}
			<ul>
				{{#each module_methods}}
				<li>
					<a href="#{{this.parent.description.name}}.{{this.description.name}}()" data-methodstabid="panel1_{{../module_suiteid}}">
						<span class="left">
							<i class="fi-{{getSpecStatusColor this.status}}"></i>
						</span>
						&nbsp;&nbsp;{{this.description.name}}
					</a>
				</li>
				{{/each }}
			</ul>
			{{else}}
			<div class="panel callout radius">
				<p>This module has no methods.</p>
			</div>
			{{/if}}
		</div>
		<div class="small-12 medium-12 large-6 columns properties-list">
			<h4>Properties</h4>
			{{#if module_properties}}
			<ul>
				{{#each module_properties}}
				<li>

					<a href="#{{this.parent.description.name}}.{{this.description.name}}" data-propertiestabid="panel2_{{../module_suiteid}}">
						<span class="left">
							<i class="fi-{{getSpecStatusColor this.status}}"></i>
						</span>
						&nbsp;&nbsp;{{this.description.name}}
					</a>
				</li>
				{{/each }}
			</ul>
			{{else}}
			<div class="panel callout radius">
				<p>This module has no properties.</p>
			</div>
			{{/if}}
		</div>
	</div>

	<hr>
	<div class="row description">
		<div class="small-12 medium-12 large-12 columns">
			<h4>Descriptions</h4>
			<br>

			<div>
				<ul class="tabs" data-tab>
					<li class="tab-title active"><a href="#panel1_{{{module_suiteid}}}">Methods</a></li>
					<li class="tab-title"><a href="#panel2_{{{module_suiteid}}}">Properties</a></li>
				</ul>
				<div class="tabs-content">
					<div class="content methods-description active" id="panel1_{{module_suiteid}}">
						{{#if module_methods}}
						{{#each module_methods}}
						{{>method_summary}}
						{{/each}}
						{{else}}
						<div class="method-summary">
							<div class="panel callout radius">
								<p>This module has no methods.</p>
							</div>
						</div>
						{{/if}}
					</div>
					<div class="content properties-description" id="panel2_{{module_suiteid}}">
						{{#if module_properties}}
						{{#each module_properties}}
						{{>property_summary}}
						{{/each}}
						{{else}}
						<div class="property-summary">
							<div class="panel callout radius">
								<p>This module has no properties.</p>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>