<div id="spec_card_{{this.id}}" class="panel spec-card ">
	<div class="row heading">
		<div class="small-7 medium-9 large-9 columns">
			<h4><i>{{this.description.name}}</i></h4>

			<p>{{this.description.description}}</p>
		</div>
		<div class="small-5 medium-3 large-3 columns">
			<table>
				<tbody>
					<tr>
						<td>Access:</td>
						<td><span class="label ">{{this.description.access}}</span></td>
					</tr>
					<tr>
						<td>Type:</td>
						<td><span class="label ">{{this.description.specType}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row signature">
		<div class="small-12 medium-12 large-12 columns">
			<div class="panel code-signature">
				<span class="access">
					{{#if this.description.access.type}}
					{{this.description.access}}
					{{else}}
					{{/if}}
				</span>
				<span class="type">
					{{#if this.description.returns.type}}
					{{this.description.returns.type}}
					{{else}}
					void
					{{/if}}
				</span>
				<span>{{this.description.name}}</span>
				{{#if this.description.arguments}}
				(
				{{#each this.description.arguments}}
				{{#if this.optional}}
				{{else}}
				<span class="param-type">{{this.type}}</span>
				<span>{{this.name}}</span>
				{{/if}}
				{{#if @last}} {{else}},{{/if}}
				{{/each}}
				)
				{{else}}
				()
				{{/if}}{ ... }
			</div>
			{{#each this.description.arguments}}
			{{#if this.optional}}
			<div class="panel code-signature">
				<span class="access">
					{{#if this.description.access.type}}
					{{this.description.access}}
					{{else}}
					{{/if}}
				</span>
				<span class="type">
					{{#if this.description.returns.type}}
					{{this.description.returns.type}}
					{{else}}
					void
					{{/if}}
				</span>
				<span>{{this.description.name}}</span>
				{{#if this.description.arguments}}
				(
				{{#each this.description.arguments}}
				{{#if this.optional}}
				{{else}}
				<span class="param-type">{{this.type}}</span>
				<span>{{this.name}}</span>
				{{/if}}
				{{#if @last}} {{else}},{{/if}}
				{{/each}}
				)
				{{else}}
				()
				{{/if}}{ ... }
			</div>
			{{/if}}
			{{/each}}
		</div>
	</div>
	<hr>
	<div class="row arguments">
		<div class="small-12 medium-12 large-12 columns">
			<h4><i class="fi-upload"></i> Arguments</h4>
			{{#if this.description.arguments}}
			<table>
				<thead>
					<tr>
						<th>Arguments</th>
						<th width="200">Description</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.description.arguments}}
					<tr>
						<td>{{this.name}}</td>
						<td>
							<p class="type">
								<span><strong><i>{{{this.type}}}</i></strong></span>
								{{#if this.optional}}
								<span>(optional)</span>
								{{/if}}
								{{#if this.default}}
								<span>Default: {{this.default}}</span>
								{{/if}}
							</p>
							{{#if this.description}}
								<p class="description">{{this.description}}</p>
							{{/if}}
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			<div class="panel callout radius">
				<h5>None.</h5>
			</div>
			{{/if}}
		</div>
	</div>
	<div class="row returns">
		<div class="small-12 medium-12 large-12 columns">
			<h4><i class="fi-download"></i> Returns</h4>
			{{#if this.description.returns}}
			<table>
				<thead>
					<tr>
						<th width="200">Return Type</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.description.returns}}
					<tr>
						<td class="text-center"><span class="label secondary radius">{{this}}</span></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			<div class="panel callout radius">
				<h5>Nothing.</h5>
			</div>
			{{/if}}
		</div>
	</div>
	<!--<div class="row expectations">
		<div class="small-12 medium-12 large-12 columns">
			<h4>Expectations</h4>
			{{#ifCond this.passedExpectations '||' this.failedExpectations}}
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Expected Value</th>
						<th>Actual Value</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.failedExpectations}}
					<tr>
						<td>{{this.matcherName}}</td>
						<td>{{this.expected}}</td>
						<td></td>
						<td class="text-center"><i class="fi-x"></i></td>
					</tr>
					{{/each}}
					{{#each this.passedExpectations}}
					<tr>
						<td>{{this.matcherName}}</td>
						<td>{{this.expected}}</td>
						<td></td>
						<td class="text-center"><i class="fi-check"></i></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			<div class="panel callout radius">
				<h5>No expectations to run.</h5>
			</div>
			{{/ifCond}}
		</div>
	</div>-->
</div>