<div class="row heading">
	<div class="small-7 medium-8 large-9 columns">
		<h2>{{suite_name}}</h2>
		<h4 class="subheader">{{suite_description}}</h4>
	</div>
	<div class="small-5 medium-4 large-3 columns">
		<table>
			<tbody>
				<tr>
					<td>Access:</td>
					<td><span class="label ">{{suite_access}}</span></td>
				</tr>
				<tr>
					<td>Type:</td>
					<td><span class="label ">{{suite_type}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row body">
	<div class="small-12 medium-12 large-12 columns">
		<h4>Methods</h4>
		<hr>
		{{#if suite_specs}}
		<ul>
			{{#each suite_specs}}
			<li><a href="#spec_card_{{this.id}}" card="#spec_card_{{this.id}}"><span class="left"><i class="fi-{{getSpecStatusColor this.status}}"></i></span>&nbsp;&nbsp;{{this.description.name}}</a></li>
			{{/each }}
		</ul>
		{{else}}
		<div class="panel callout radius">
			<h5>This suite has no methods.</h5>
		</div>
		{{/if}}
	</div>
</div>
<div class="row footer">
	<div class="small-12 medium-12 large-12 columns">
		<h4>Methods Description</h4>
		<hr>
		{{#if suite_specs}}
		<ul>
			{{#each suite_specs}}
			{{>spec_card}}
			{{/each}}
		</ul>
		{{else}}
		<div class="panel callout radius">
			<h5>This suite has no methods.</h5>
		</div>
		{{/if}}
	</div>
</div>